In [1]:
import netCDF4
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
SODA_train = './tcdata/enso_round1_train_20210201/SODA_train.nc'
S_t = netCDF4.Dataset(SODA_train, mode='r')

In [3]:
S_t.variables.keys()

dict_keys(['sst', 't300', 'ua', 'va', 'year', 'month', 'lat', 'lon'])

In [4]:
SODA_label = './tcdata/enso_round1_train_20210201/SODA_label.nc'
S_l = netCDF4.Dataset(SODA_label, mode='r')
S_l.variables.keys()

dict_keys(['nino', 'year', 'month'])

In [5]:
import xarray as xr

ds = xr.open_dataset(SODA_label)
df = ds.to_dataframe()
df

                nino
month year
1     1    -0.407207
      2     0.066972
      3    -0.732018
      4    -0.259308
      5    -0.123334
...              ...
36    96    0.600092
      97    0.359084
      98   -1.365284
      99   -0.561618
      100   1.380289

[3600 rows x 1 columns]

In [6]:
ds = xr.open_dataset(SODA_train)
df = ds.to_dataframe()
df

                             sst      t300        ua        va
lat   lon   month year
-55.0 0.0   1     1     1.861851  0.374280  0.429292  0.087189
                  2    -0.272264  0.062039  2.033018 -0.978357
                  3     0.029107  0.023624  0.014763 -0.337003
                  4     0.116086  0.002191 -0.779131  0.283343
                  5    -0.303765 -0.017604  0.718747  0.432904
...                          ...       ...       ...       ...
 60.0 355.0 36    96    0.343747  0.382586 -2.444263 -1.762935
                  97   -0.260012 -0.128290 -0.668583  1.575757
                  98   -0.011609  0.026765  1.877786 -2.785419
                  99    0.608666  0.627850  4.865146  1.487389
                  100  -0.155855 -0.061739  1.476060  5.922772

[6220800 rows x 4 columns]